#employStuff {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#employStuff th {
    border: 1px solid #8a2222;
    padding: 10px;
}

#employStuff th {
    text-align: center;
    background-color: rgb(9, 0, 128);
    color: white;
}

#employeeData td {
    text-align: center;
    border: thick double;
    border-color: navy;
    background-color: goldenrod;
}

.over-budget {
    background-color: #8a2222;
}

.footClan {
    margin-top: 50px;
    text-align:  right;
}

.shredder {
    font-size:xx-large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bBop {
    font-size: 300%;
}